server {
    listen       80;
    listen       443 ssl;
    ssl_certificate      /etc/nginx/nginx-{{ seeder_hostname }}.crt;
    ssl_certificate_key  /etc/nginx/nginx-{{ seeder_hostname }}.key;
    server_name  {{ seeder_hostname }};

    location / {
        uwsgi_pass  unix://{{ seeder_home }}/seeder.sock;
        include uwsgi_params;
    }
    
    location /media {
        root {{ seeder_home }}/Seeder;
    }
    
    location /static {
        alias {{ seeder_home }}/Seeder/static_root;
    }
}
